.ghettoCursorXPos{
  white-space:inherit;
  word-wrap:inherit;
  z-index:99999;
  background:red;
  left:0;
  margin-right:inherit;
  line-height:inherit; /* Prolly breaks H1 etc */
}

.ghettoCursorXPos h1,
.ghettoCursorXPos h2,
.ghettoCursorXPos h3,
.ghettoCursorXPos h4,
.ghettoCursorXPos h5,
.ghettoCursorXPos h6 {
  display: inline-block!important;
}

.caretindicator{
  max-width:300px;
  padding:1px;
  position:absolute;
  height:20px;
  opacity:1;
}

div.stickUp:before{
  content: "";
  display: block;
  width: 2px;
  height: 28px;
  background-color: black;
  opacity:.5;
  margin-left:-2px;
  margin-top:-6px;
}

div.stickDown:before{
  content: "";
  display: block;
  width: 2px;
  height: 23px;
  background-color: black;
  opacity:.5;
  margin-left:-2px;
  margin-top:0px;
}

p.stickUp{
  position:relative;
  top:2px;
  margin-top:-18px;
  padding-left:4px;
  padding-right:4px;
}

p.stickDown{
  position:relative;
  top:2px;
  margin-top:-28px;
  padding-left:4px;
  padding-right:4px;
}

p.caretindicator{
  position:relative;
  top:2px;
  margin-top:-24px;
  padding-left:4px;
  padding-right:4px;
}

.stickp{
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
